.dark {
  dialog.modal-container::backdrop {
    background-color: rgba(17, 24, 39, 0.8);
  }

  .modal-header,
  .modal-footer {
    border-color: #4B5563;
  }

  .modal-content {
    background-color: #1F2937;
    color: #ffffff;
  }

  .modal-close-button:hover,
  .modal-close-icon:hover {
    background-color: #6B7280;
    color: #ffffff;
  }
}

:not(.dark) {
  dialog.modal-container::backdrop {
    background-color: rgba(17, 24, 39, 0.5);
  }

  .modal-close-button,
  .modal-close-icon {
    color: #9CA3AF;

    &:hover {
      color: #111827;
      background-color: #E5E7EB;
    }
  }
}

dialog.modal-container {
  position: relative;
  padding: 0;
  border: none;
  background: transparent;
  color: inherit;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: 0;
  z-index: 50;

  /* Force dialog to be displayed if it's open but not showing */
  &[open] {
    display: block;
  }

  &[data-header="false"] .modal-header {
    position: absolute;
  }

  &[data-header-divider="true"] .modal-header {
    border-bottom-width: 1px;
  }

  &[data-footer-divider="true"] .modal-footer {
    border-top-width: 1px;
  }

  &[data-padding="true"] .modal-main {
    padding: 1rem;
    padding-top: 0.5rem;
  }

  &[data-title="false"] .modal-title-h {
    display: none;
  }

  &[data-close-button="false"] .modal-close {
    display: none;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

.modal-content {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  margin: 1rem;
  background-color: #ffffff;
  text-align: left;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  @media (min-width: 640px) {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 48rem;
  }

  @media (min-width: 768px) {
    max-width: 48rem;
  }
}

.modal-header {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.modal-title {
  line-height: 1.75rem;
  font-weight: 600;
  padding-left: 1rem;
}

.modal-title-h {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: #111827;
}

.dark .modal-title-h {
  color: #ffffff;
}

.modal-footer {
  display: flex;
  padding: 1rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-width: 1px;
}

.modal-close {
  margin-right: 1rem;
}

.modal-close-button {
  display: inline-flex;
  padding: 0.375rem;
  margin-left: auto;
  background-color: transparent;
  font-size: 0.875rem;
  line-height: 1.25rem;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.modal-close-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.modal-main {
  position: relative;
  flex: 1;
}
