<%= render UI::Modal.new(frame: @frame, advance_history: @advance_history, advance_history_url: @override_url) do %>
  <div class="mx-auto w-full sm:w-80">
    <h1 class="font-bold text-4xl">New post</h1>

    <%= render "form", post: @post %>
  </div>
<% end %>
